<?xml version="1.0" encoding="UTF-8"?>
<!-- Avoid xml : In future try to remove this xml file and use Java to configure 
	logback -->
<configuration>

	<!-- Send debug messages to System.out -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- By default, encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<!-- <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n 
				</pattern> -->
			<pattern>%date{"dd MMM yyyy- HH:mm:ss"} %-5level %logger{5} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework.core" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- Keep this debug as bean creation is imp process : keep this for learning 
		DI -->
	<logger name="org.springframework.beans" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.data" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.context" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.http" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.web" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework.security" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate.type" level="DEBUG"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>